<div class="container">
  <mat-card *ngIf="assignmentTransmis && isClicked">
    <mat-card-title >{{assignmentTransmis.name}}</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu | date}}</mat-card-subtitle>
    <div>
      <div>
        <mat-checkbox *ngIf="!assignmentTransmis.rendu" (click) ="onAssignmentRendu()">Assignment rendu</mat-checkbox>
      </div>
      <div>
        <button mat-button  (click) = "onDelete()">DELETE</button>
      </div>
    </div>
  </mat-card>
</div>
