<div class="container-login">
  <div class="container-login-header">
    <div class="container-login-header-text">Log here</div>
  </div>
  <div class="container-login-body">
    <form action="#" class="form-login">
      <div class="form-login-user">
        <label for="email" class="label-user">Username:</label>
        <input type="email" name="user" id="" />
      </div>
      <div class="form-login-password">
        <label for="password" class="label-password">Password:</label>
        <input type="password" name="password" />
      </div>
      <div class="form-login-btn-login">
        <button type="" (click)="connect()" [class="btn btn-primary" ]>
          Connect
        </button>
      </div>
    </form>
  </div>
  <div class="container-login-footer">
    <div class="container-login-footer-forget-password">
      <span>Forget password ?</span>
    </div>
    <div class="container-login-footer-get-account">
      <span>Haven't an account ?</span>
    </div>
  </div>
</div>
