.container-login{
  display: block;
  padding: 20px;
  box-shadow: 2 slategray;
  flex-direction: column;
  justify-content: center;
  /* background-color: dimgray; */
  border: 2px solid black;
  align-self: center;
  margin: 40px ;
  border-radius: 5px;
}
.container-login .container-login-header, .container-login-body, .container-login-footer{
  border: 2px solid;
  margin: 10px;
  padding: 10px;
  display: block;
  justify-content: center;

}

